body {
  margin: 0;
}

h1,
h2,
h6,
nav,
ul,
li {
  padding: 0;
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.around {
  justify-content: flex-end;
}

section,
header,
footer {
  padding: 0 150px;
}

/* Header start */
header {
  padding: 25px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.header-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.wrapper-title {
  font-size: 48px;
  color: #eb3c00;
  font-weight: 700;
  font-family: "Oswald";
}

.wrapper-caption {
  font-size: 18px;
  color: #28282879;
  font-weight: 400;
  font-style: italic;
  font-family: "PT Serif";
  align-self: flex-end;
  height: 40%;
}

.wrapper-login {
  font-size: 13px;
  color: #282828;
  font-weight: 400;
  font-style: italic;
  font-family: "PT Serif";
  text-decoration: none;

  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.wrapper-login:hover {
  text-decoration: underline;
}

.wrapper-login > i {
  color: #ee4400;
}

.wrapper-key {
  font-size: 14px;
  color: #ee4400;
  font-family: "Font Awesome";
}

.wrapper-contact {
  width: 191px;
  height: 45px;
  background-color: #ee4400;
  border: none;
  cursor: pointer;

  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  font-style: italic;
  font-family: "PT Serif";
  transition: background-color 1s linear;
}

.wrapper-contact:hover {
  text-decoration: underline;
}

/* Header end */

/* Menu start */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  height: 70px;
}

.menu-nav {
  height: 100%;
}

.nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  height: 100%;
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Oswald";
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;

  padding: 0 20px;
  transition: background-color 0.3s linear;
}

.nav-list-selected,
.nav-list-item:hover {
  background-color: #ee4400;
}

.menu-search {
  width: 258px;
  height: 14px;
  padding: 12px;
}

.menu-search::after {
  content: "";
  width: 100px;
  height: 100px;
  font-size: 18px;
  color: #2d3340;
  font-family: "Font Awesome";
}
.menu-search,
.menu-search::placeholder {
  font-size: 14px;
  font-weight: 400;
  font-family: "Oswald";
}

.menu-search::placeholder {
  color: #2828288a;
  text-transform: uppercase;
}

/* Menu end */

/* Main start */

.main {
  padding: 60px 150px;
  background-color: #f5f5f5;
}

.main-head {
}

.head-title {
  text-transform: capitalize;
  font-size: 48px;
  line-height: 60px;
  color: #282828;
  font-weight: 400;
  font-family: "Oswald";
  width: 820px;
}

.head-text {
  font-size: 24px;
  line-height: 36px;
  color: #282828;
  font-weight: 400;
  font-family: "PT Serif";
  width: 750px;
}

.main-footer {
}

.footer-title {
  font-size: 18px;
  line-height: 27px;
  color: #282828;
  font-weight: 400;
  font-family: "PT Serif";
}

.footer-list {
  margin-left: 1.2em;
}

.footer-list-item {
  font-size: 18px;
  line-height: 27px;
  color: #282828e7;
  font-weight: 400;
  font-family: "PT Serif";
}

/* Main end */

/* Common start */
.gap30 {
  grid-gap: 30px;
}

/* Common end */
